* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
.board {  
    display: grid;
    grid-template-columns: repeat(7, 75px);
    grid-template-rows: repeat(6, 75px);
    width: 525px;
    height: 450px;
    margin: 0 auto;
    justify-content: center;
    background-color: black; 
} 
.board div { 
height: 75px; 
width: 75px; 
margin: 0 auto;
border-radius: 50%; 
}

.square{ 
background:white; 
} 
.taken { 
background-color: white;
} 
.player-one { 
background:red;
}
.player-two { 
background:blue;
color: blue;
}
.restart{ 
background: red;   
display: flex; 
justify-content: center; 
align-items: center; 
}

.currentPlayer {
    background-color: red;
}