* {
    box-sizing: border-box;
}
body {
background-color: beige;
text-align: center;
justify-content: center;
}

.title {
font-size: 58px;
font-family: Arial, Helvetica, sans-serif;
margin: 10px auto;
}


.board {  
display: grid;
grid-template-columns: repeat(7, 100px);
grid-template-rows: repeat(6, 100px);
width: 700px;
height: 600px;
justify-content: center;
background-color: black;
overflow: hidden;
margin: 0 auto;
}

.board div { 
height: 100px; 
width: 100px; 
margin: 0 auto;
border-radius: 50%; 
}

.square{ 
background:white; 
} 
.taken { 
background-color: white;
} 
.player-one { 
background:red;
}
.player-two { 
background:blue;
}

.restart{ 
background: red;   
font-size: 42px;
margin-top: 10px;
width: 700px;
}

.currentPlayer {
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

.winner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-align: center;
    margin: 20px auto;
    background-color: blue;
    color: red;
    width: 700px;
}
